<div class="row">
  <div class="col-lg-6 col-xl-6">
    <div class="card shadow">
      <div class="text-right">
        <a class="btn" style="cursor: pointer;" *ngIf="showWelcome" (click)="onHideWelcome()">&times;</a>
        <a class="btn" style="cursor: pointer;" *ngIf="!showWelcome" (click)="onHideWelcome()"><strong>-</strong></a>
      </div>
      <div class="card-header text-center">
        <h3 *ngIf="showWelcome">Welcome, UserName!</h3>
        <small *ngIf="!showWelcome">Welcome message</small>
      </div>
      <div class="card-body text-center" *ngIf="showWelcome">
        <p class="card-text"><span class="badge badge-primary">New</span> &nbsp; Important information to display here
        </p>
        <p class="card-text">Older info here</p>
      </div>
      <div class="card-footer text-right" *ngIf="showWelcome">
        <small class="text-muted">Last login: yesterday</small>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-4">
    <div class="card shadow">
      <div class="text-right">
        <a class="btn" style="cursor: pointer;" *ngIf="showTip" (click)="onHideTip()">&times;</a>
        <a class="btn" style="cursor: pointer;" *ngIf="!showTip" (click)="onHideTip()"> <strong>-</strong> </a>
      </div>
      <div class="card-header text-center">
        <h3 *ngIf="showTip">Tip:</h3>
        <small *ngIf="!showTip">Tip</small>
      </div>
      <div *ngIf="showTip">
        <div class="card-body text-center">
          <p class="card-text"><span class="badge badge-primary">New</span> &nbsp; Important information to display here
          </p>
          <small class="card-text"><span class="badge badge-pill badge-warning">Careful</span> &nbsp;Following this tip
            is at your own risk.</small>
        </div>
        <div class="card-footer text-right">
          <small class="text-muted">Help</small>
        </div>
      </div>
    </div>
  </div>
</div>