<div>
  <div class="row">
    <div class="col">
      <app-action-nav></app-action-nav>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-xl-3">
      <div class="shadow">
        <app-sidenav></app-sidenav>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br>
      <app-welcome></app-welcome>
      <br>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>
</div>