<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
    aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent2">
    <ul class="navbar-nav mr-auto flex-column">
      <a class="navbar-brand" routerLink=""><img src="https://i.imgur.com/yVZaCAr.jpg" alt="dtb pic"
          style="max-height: 125px; border-radius: 100%;"></a>
      <small class="text-muted">DT Bradfield</small>
      <hr>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink='sidenav-el1'>Sidebar Component 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink='sidenav-el2'>Sidebar Component 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink='sidenav-el3'>Sidebar Component 3</a>
      </li>
    </ul>
  </div>
</nav>